<div id="background">
	<header class="cf">
		<div class="wrapper_wide">
			<a href="#" id="logo">Podcast.fm</a>
			<nav>
				<ul>
					<li><%= link_to "Explore"  %></li>
					<li><%= link_to "Sign In" %></li>
					<li><%= link_to "Create a Podcast"%></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="wrapper_skinny">
		<h1>Discover your new favorite<br> podcast, or create your own.</h1>
		<a href="#" class="button button_highlight">Create</a>
	    <a href="#" class="button button_white">Explore</a>
	</div>
</div>